body{
    background-color: rgb(242,247,244);
    background-image: linear-gradient(62deg, #f4ffff 0%, #f6fff7 50%, #f4fffa 100%);
    
}
.container{
    /* background-color: #e3fbf2; */
}
.Intro{
    padding: 20px;

}
header{
    margin-top:30px;
    margin-bottom:20px;
    color: #54301A;
}
/* header.a{
    color:#54301A;
} */