* {
 box-sizing: border-box;
}
@font-face {
    font-family:Typo;
    src: url("./Fonts/typo-hoop/Typo-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: Optima;
    src: url('./Fonts/Optima/OPTIMA.TTF');
    font-weight: bold;
}
body {
    background-image: radial-gradient(77.71% 153.67% at 75.94% 29.39%, #D8D4E6 0%, #D1E3E6 55.56%, #E6EAF2 100%); 
    background-repeat: no-repeat;
    font-family: Optima;
    color:#54301A;

 
}
.container{
   margin-left:10%;
   margin-Right:10%;
   border:1px solid red;
}
nav{
   background-color: yellow;
   font-size: 1.5rem;
    width:30%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    color: #611C09;
}
.logo{
    font-family: Typo;
    font-size:2.5rem;
    font-weight: 700;
}

header{
    border: 1px solid blue;
    display:flex;
    justify-content: space-between;
    margin-left: 4.37rem;
    margin-right: 4.37rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #54301A;
}
.billboard{
    width: 90%;
    height: 60vh;
    background-color:white;
    display:inline-block;
    border-radius:50px;
    margin-top: 2.5rem;
    margin-left: 4.37rem;
    margin-right: 4.37rem;
    padding-left: 7.3rem;

}

.chryblsm{
    /* background-color: #C2B6D4; */
    height: 100%;
    width: 55%;
    margin-left:auto;
    margin-top: -27.4rem;
    background-image: url("../images/ChryBlsm.png");
    background-repeat:no-repeat;
    background-position: 100% ;
    background-size:cover;
    /* position:absolute; */
    border-radius: 500px 50px 0px ;
    /* z-index: -1; */
}



.message{
    font-size:3.5rem;
    margin-top:5.3rem;
    line-height: 110px; 
}
.beauty{
    font-size:6rem;
    
}
.btn{
    font-size: 1.5rem;
    line-height:3.1rem;



    font-family: Optima;
    background-color:#E6EAF2;
    color: #611C09;
    padding:.5rem 1.9rem;
    border:none;
    border-radius:50px;
    box-shadow:0px 8px 0px #C2B6D4 ;
}
.msg{
    margin-left: 9.75rem;
    width: 70%;
}
.msg h1 {
    line-height: 5.625rem;
    font-size: 2.5rem;
    color: purple;
}
.msg p {
    font-family: 'Helvetica Neue';
    font-size:1.5rem ;
    line-height: 2.5rem;
}

.card{
    box-shadow: 0px 8px 0px #B3D4CE;
    border-radius: 25px;
    background-color: #FFFFFF;

}




.srvccards {
    /* background-color: rgba(128, 0, 128, 0.33); */
    margin-left: auto;
    margin-right: auto;
    width:80%;
    display: flex;
    justify-content: space-between;
    font-family: 'Optima';
    height:75vh;
}
.srv-card {
    width: 48%;
    /* border-radius: 50px; */
}

.left {
    /* background-color:blue; */
    
    
}
.leftTop {
    
    box-shadow: 0px 8px 0px #B3D4CE;
    /* background-color:#ffffff; */
    height:62.5%;
    margin-bottom:5%;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 30px;
}
.tleft-srvc-img {
    border-radius: 30px;
    /* background-color: blue; */
    background-image: url(./images/neutrotoxin.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    height: 60%;
    width: 100%;
    
}
.Bleft-srvc-img {
    border-radius: 30px;
    /* border:1px solid blue; */
    background-image: url(./images/neutrotoxin.png);


  
    background-size: cover;
    width: 60%;
    height:90%;
   
}
.BL-textbox {
    width:45%;
}
.srv-header {
    font-size:1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;

}
.srv-text{
line-height: 1.5rem;
margin-bottom: 10px;
}
.lrn {
    font-weight: bolder;
    text-decoration: none;
    color:#C2B6D4;

}
.card-text{
    /* border: 1px solid red; */
    padding-left: 1rem;
}
.leftBtm {
    /* background-color:#ffffff; */
    height:32.5%;
    display: flex;
    padding: 1.5rem 0rem 0rem .5rem;
    
}
.right {
    /* background-color:yellow; */
    /* height:70vh; */
}
.rtTop {
    height: 32.5%;
    /* background-color: #ffffff; */
    margin-bottom:5%;
    display: flex;
    
}
.rtBtm {
    /* background-color: blueviolet; */
    height: 62.5%;
    display: flex;
    justify-content: space-between;

}
.RB-img{
    /* border-radius: 30px/ 0px; */
    height: 37.5%;
    background-image: url(./images/Dermafill.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.btmright, .btmleft{
    /* width: 45%; */
    /* background-color: beige; */
}

 .testimonials {
     height: 50vh;
 }