* {
 box-sizing: border-box;
}
html{
    background-image: radial-gradient(77.71% 153.67% at 75.94% 29.39%, #D8D4E6 0%, #D1E3E6 55.56%, #E6EAF2 100%); 
    background-repeat: no-repeat;
    height:100%;
}
@font-face{
    font-family:Typo;
    src: url("/Static/Fonts/typo-hoop/Typo-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: Optima;
    src: url('/Static/Fonts/Optima/OPTIMA.TTF');
}

body{

    font-family: Optima;
 
}


nav{
    /* background-color: pink; */
    width:15%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    font-family: Typo;
    font-size:2rem;
    /* font-weight: 700; */
}

header{
    border: 1px solid blue;
    display:flex;
    justify-content: space-between;
    margin-left: 4.37rem;
    margin-right: 4.37rem;
    color: #54301A;
}
.bkgrdImage{
    width: 100%;
    height:44.37rem; 
    position:absolute;
    z-index: -2;  
    background-image:url('../static/images/Hero-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.cover{
    background-color: #d1e3e67d;
    height: 100%;
    border: 1px solid;
   
    
}
.message{
    font-size:56px;
    margin:0;
    background-color: blue;
    color: #611C09
    
}
.beauty{
    font-size:96px;
    margin:0;
    background-color: red;

}
.hero{
    height:12.93rem ;
    width:37%;
    background-color: pink;
    margin-left:auto;
    margin-right:4.37rem;
    margin-top: 19.81rem;
}
.since{
    font-size: 24px;
    line-height: 60px;
}
.btn{
    font-size: 1.5rem;
    font-family: Optima;
    background-color:#E6EAF2;
    color: #611C09;
    padding-left:4.5rem;
    padding-right:4.5rem;
    padding-top:1rem ;
    padding-bottom:1rem ;
    border:none;
    border-radius:50px;
    box-shadow:0px 8px 0px #C2B6D4 ;
}

